/* Remove the default margin and padding of the page */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.85);
}

.nav {
    background-color: rgb(51, 51, 51);
    color: #fff;
    padding: 1rem;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks {
    display: flex;
    gap: 1rem;
}

.navLink {
    color: #fff;
    text-decoration: none;
}

.navLink:hover {
    text-decoration: underline;
}

.navButtons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.login,
.logout {
    background-color: transparent;
    border: solid 1px #007BFF;
    border-radius: 5px;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.login:hover,
.logout:hover {
    background-color: #0056b3;
}

.welcome {
    margin-right: 1rem;
}